*.dat
*.log
*.ini
*.properties

.minecraft/asm/*
.minecarft/backups/*
.minecraft/bendspacks/*
.minecraft/crash-reports/*
.minecraft/CustomDISkins/*
.minecraft/hats/*
.minecraft/journeymap/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/mod-config/*
.minecraft/modpack/*
.minecraft/moreplayermodels/*
.minecraft/resourcepacks/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/server-resource-packs/*
.minecraft/texturepacks/*

.minecarft/options.txt
.minecraft/usernamecache.json
.minecraft/config/NEI/client.cfg
.minecraft/config/InvTweaks.cfg
.minecraft/config/iChunUtil.cfg
.minecraft/config/DIAdvancedCompatibility.cfg
instance.cfg