*.dat
*.log

.minecraft/asm/*
.minecarft/backups/*
.minecraft/bendspacks/*
.minecraft/crash-reports/*
.minecraft/CustomDISkins/*
.minecraft/hats/*
.minecraft/journeymap/*
.minecraft/local/*
.minecraft/logs/*
.minecraft/mod-config/*
.minecraft/modpack/*
.minecraft/moreplayermodels/*
.minecraft/resourcepacks/*
.minecraft/saves/*
.minecraft/screenshots/*
.minecraft/server-resource-packs/*
.minecraft/texturepacks/*

.minecarft/options.txt
.minecraft/usernamecache.json